*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 10px;
  background: #f23398;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover{
  transform: translateY(10px);
  background: #333df2;
  color: #f23398;
}